<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projeto_django/css/index.css' %}">
</head>
<body>
    <h1>Criar Conta</h1>
    <form method="post">
        {% csrf_token %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <label for="">Nome:</label>
        <input type="text" name="nome"><br>
        <label for="">Moeda:</label>
        <select name="moeda">
            <option value="real">Real</option>
            <option value="dolar">Dólar</option>
            <option value="euro">Euro</option>
        </select><br>
        <label for="">Saldo:</label> 
        <input type="number" name="saldo" step=""0.01><br>
        <button type="submit">Criar Conta</button><br><br>
        <a href="{% url 'index' %}">Voltar ao inicio</a>
    </form>
</body>
</html>