<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projeto_django/css/index.css' %}">
</head>
<body>
    <header>
        <h1>Banco</h1>
        <p>Bem vindo ao Simulador de Banco</p>
    </header>
    <nav>
        <a href="criar_conta/">Criar Conta</a>
        <a href="exibir_conta/">Exibir Informações da Conta</a>
        <a href="exibir_tudo/">Exibir Todas as Contas</a>
        <a href="deposito/">Depositar</a>
        <a href="saque/">Saque</a>
        <a href="transferencia/">Transferência</a>
    </nav>
</body>
</html>